.review{
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: 0 auto;
	padding: 5px;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.spinner {
    animation: rotator 1.4s linear infinite;
}
 
@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}
 
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
    dash 1.4s ease-in-out infinite, 
    colors 5.6s ease-in-out infinite;
}
 
@keyframes colors {
    0% { stroke: #162029; }
    25% { stroke: #162029; }
    50% { stroke: #162029; }
    75% { stroke: #162029; }
    100% { stroke:#162029; }
}
 
@keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
        stroke-dashoffset: 46.75;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform:rotate(450deg);
    }
}


